<script th:src="@{/vendor/global/global.min.js}"></script>
<script th:src="@{/vendor/chart.js/Chart.bundle.min.js}"></script>
<script th:src="@{/vendor/bootstrap-select/dist/js/bootstrap-select.min.js}"></script>
<script th:src="@{/vendor/apexchart/apexchart.js}"></script>

<!-- Dashboard 1 -->
<script th:src="@{/js/dashboard/dashboard-1.js}"></script>
<script th:src="@{/vendor/draggable/draggable.js}"></script>
<script th:src="@{/vendor/swiper/js/swiper-bundle.min.js}"></script>


<!-- tagify -->
<script th:src="@{/vendor/tagify/dist/tagify.js}"></script>

<script th:src="@{/vendor/datatables/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/vendor/datatables/js/dataTables.buttons.min.js}"></script>
<script th:src="@{/vendor/datatables/js/buttons.html5.min.js}"></script>
<script th:src="@{/vendor/datatables/js/jszip.min.js}"></script>
<script th:src="@{/js/plugins-init/datatables.init.js}"></script>

<!-- Apex Chart -->

<script th:src="@{/vendor/bootstrap-datetimepicker/js/moment.js}"></script>
<script th:src="@{/vendor/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js}"></script>


<!-- Vectormap -->
<script th:src="@{/vendor/jqvmap/js/jquery.vmap.min.js}"></script>
<script th:src="@{/vendor/jqvmap/js/jquery.vmap.world.js}"></script>
<script th:src="@{/vendor/jqvmap/js/jquery.vmap.usa.js}"></script>
<script th:src="@{/js/custom.js}"></script>
<script th:src="@{/js/deznav-init.js}"></script>
<script th:src="@{/js/demo.js}"></script>
<!--<script th:src="@{/js/styleSwitcher.js}"></script>-->