<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
  <head>
    <title>Login</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/feather.css" />
    <link rel="stylesheet" href="css/login.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <style>
      body > div:first-child {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background: #5b595e1c;
      }
      .container {
        margin-top: 7rem;
        width: 30%;
      }
      .login-wrap {
        background-color: #fff;
        padding: 2rem;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
          rgba(0, 0, 0, 0.23) 0px 6px 6px;
      }
    </style>
  </head>
  <body>
    <div>
      <div class="container">
        <div class="login-wrap">
          <div class="login-header">
            <h3>Welcome Back</h3>
            <p>Please Enter your Account</p>
          </div>

          <form method="post" action="/login" th:object="${user}">
            <div class="form-set group-img">
              <div class="group-img">
                <i class="fa-solid fa-user"></i>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Username"
                  th:field="*{username}"
                />
              </div>
            </div>
            <div class="form-set">
              <div class="pass-group group-img">
                <i class="fa-solid fa-key"></i>
                <input
                  type="password"
                  class="form-control pass-input"
                  placeholder="Password"
                  th:field="*{password}"
                />
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-sm-6">
                <label class="custom_check">
                  <input type="checkbox" name="rememberme" class="rememberme" />
                  <span class="checkmark"></span>Remember Me
                </label>
              </div>
            </div>
            <button class="btn btn-primary w-100 login-btn" type="submit">
              Sign in
            </button>
            <div class="register-link text-center">
              <p>
                No account yet?
                <a class="forgot-link" href="signup.html">Signup</a>
              </p>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
